each photo, i in photolist
	div(class="images", value=photo)
		img(src="#{photo.source}", alt="#{photo.name}")
		textarea(class="#{photo.id}", name="message")
		br
		input(type="button", class="subcom", id="#{photo.id}", name="Submit", value="Comment")