extends layout

block content
	script(src='/javascripts/mainscript.js')
	script(src='/javascripts/rcarosel/widget/lib/jquery.ui.core.js')
	script(src='/javascripts/rcarosel//widget/lib/jquery.ui.widget.min.js')
	script(src='/javascripts/rcarosel//widget/lib/jquery.ui.rcarousel.min.js')


	h1 MyFaceBookSpace

	div(id="main_left")
		input(type="button", id="open", name="Open", value="Click to Change  Page")
		input(type="button", id="logout", name="logout", value="Log Out")

		form(id="pagestyle")
			h3 Change Your Page Layout!
			| Background Color: 
			input(type="text", id="bg", name="background", value="#{background}")
			br
			| Text Color: 
			input(type="text", id="txc", name="textcolor", value="#{textcolor}")
			br
			| Text Font: 
			input(type="text", id="txf", name="textfont", value="#{textfont}")
			br
			| Text Size: 
			input(type="text", id="txs", name="textsize", value="#{textsize}")
			br
			| Message:
			br
			textarea(id="msg", name="message", value="#{message}")
			br
			input(type="submit", value="Update")
		br
		br

		div(id="display_area")
			img(src="#{image}", id="logo")
			div(id="textstuff")
				h4(id="namehead") #{title}
				| #{message}
		br
		br

	div(id="container")

		a#prev(href='#') prev
		a#next(href='#') next

		div(id="carousel")
			div(class="images")
				img(src="http://1.bp.blogspot.com/-cD0mdqrG1VU/T2e1Uqzjo3I/AAAAAAAAASI/4Oki1HXl_WY/s1600/random.jpg", alt="Snazy Abstract")
				div(id="make_comment")
					textarea(class="new_comment")
					br
					input(type="Button", name="submit_com", class="subcom", value="Comment")
			div(class="images")
				img(src="http://images5.fanpop.com/image/photos/31100000/random-random-31108109-500-502.jpg", alt="English Muffin")
				div(id="make_comment")
					textarea(class="new_comment")
					br
					input(type="Button", name="submit_com", class="subcom", value="Comment 2")